/* Navbar */
.navbarList{
    position: absolute;
    right: 17%;

}

.navbarTitle{
    position: absolute;
    right: 76.5%;

}

.navbarHeight{
    height: 50px;
}

/* Jumbotron */

.containerJumbotron{
    background-color:#EAECEF;
    height: 350px;
}

.title{
    font-size: 90px;
    margin-left: 25px;
    font-weight: 400;
}

.textLorem{
    margin-left: 25px;
   
    font-size: 20px;
    padding-right: 30px;
}


.btn-lg{
    margin-left: 25px;
}

/* cards */

.container-cards{
    margin-top: 20px;
}

.card-body-custom {
   
    height: 330px;
    overflow: hidden; 
  }



  /* Footer */

.navbarHeightFooter{
    margin-top: 30px;
    height: 65px;
}

  .footerText{
   position:absolute;
   right: 45%;
   bottom: -15%;
    color: white;
    font-size: small;
   
  }